<mat-sidenav-container>
    <mat-sidenav id='sidenav' #sidenav mode="side" opened>
        <app-aside-menu></app-aside-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="header">
            <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()" class="responsive-menu">
                <mat-icon *ngIf="!sidenav.opened">
                    menu
                </mat-icon>
                <mat-icon *ngIf="sidenav.opened">
                    close
                </mat-icon>
            </button>
            <mat-toolbar [ngClass]="{'toolbar-responsive':sidenav.mode === 'over'}">
                <app-header [responsive] = "sidenav.mode === 'over'"></app-header>
            </mat-toolbar>
        </div>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
