<div class="container-fluid px-5">
    <div class="row g-5 mt-4 mb-5">
        <h2 class="title">{{'Songs of ' + playlistName + ' Playlist'}}</h2>
        <div [ngClass]="{'col-3':xxl,'col-xs-12 col-sm-6 col-xl-4':!xxl }">
            <app-card-add-song [currentSongs]="songs" [idPlaylist]="id" (addSong)="addSong($event)"></app-card-add-song>
        </div>
        <div [ngClass]="{'col-3':xxl,'col-xs-12 col-sm-6 col-xl-4':!xxl }" *ngFor="let s of songs">
            <app-card [song]="s" [editable]="true" (deleteSong)="deleteSong($event)"></app-card>
        </div>
    </div>
</div>

