.background-gradient{
    background: rgb(0,3,36);
    background: linear-gradient(0deg, rgba(0,3,36,0.8239670868347339) 0%, rgba(25,52,119,0.9500175070028011) 45%, rgba(0,116,255,1) 100%);
}

.img-custom {
  background-color: #3C3D3D;
  border-radius: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 35%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
