
        <img src="../../../assets/user-music.webp" class="avatar mat-elevation-z8" />
        <h4 class="email overflow-visible">{{email}}</h4>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" [routerLink]="['/music/playlists']">
            <mat-icon class="space">library_music</mat-icon>
            <span>Playlists</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/music/songs']">
            <i class="bi bi-disc icon space"></i>
            <span>Songs</span>
        </button>
        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon class="space">exit_to_app</mat-icon>
            <span>Log Out</span>
        </button>