
/*separacion entre el icono y la palabra*/
mat-icon{
    margin-right: .5em;
}

/*boton de navegacion*/
.menu-button{
    padding: .5em;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}

.menu-button:hover{
    background-color: rgb(10, 40, 120);
    border-radius: 10px;
    width: 100%;
}

/*img avatar*/
.avatar {
    margin-top: 1em;
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

/*email logged*/
.email {
    margin-top: .7em;
    font-weight: 300;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: .05em;
}

/*para emails largos que se baje overflow al proximo renglon*/
.overflow-visible{
    white-space: nowrap;
    overflow: hidden;
    white-space: initial;
}

/*linea horizontal divisora*/
mat-divider {
    margin-top: 1.5em;
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.5);
}

 