<mat-sidenav-container>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"class="responsive-menu">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <mat-sidenav #sidenav="matSidenav">
        <img src="../../../assets/user-music.webp" class="avatar mat-elevation-z8"/>
        <h4 class="email overflow-visible">mati@gmail.com</h4>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>library_music</mat-icon>
            <span>Playlists</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>headset</mat-icon>
            <span>Songs</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>About</span>
        </button>
    </mat-sidenav>
</mat-sidenav-container>