.footer{
    display: flex;
    flex-direction: column;
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    line-height: 80%;
    padding-top: 1em;
    background-color: black;
    color:antiquewhite;
}

p{
    text-align: center;
    letter-spacing: .05em;
}