.footer{
    display: flex;
    z-index: 1000;
    width: 100%;
    flex-direction: column;
    position: absolute;
    height: auto;
    bottom: 0;
    background-color: black;
    color:white;
    background:linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0.1)), url('../../../assets/music-header.jpg');
    background-size:auto;
}

.footer :first-child{
    margin-top: .5rem;
}

.footer :last-child{
    margin-bottom: .3rem;
}

p{
    font-size: .8rem;
    text-align: center;
    letter-spacing: .05rem;
    margin-bottom: 0;
}