<!-- https://mdbootstrap.com/docs/angular/getting-started/installation/ MDBoostrap Instalacion -->

<body class="justify-content-center" style="background-image: url(assets/fondo2.jpg);">
  <div class="card-body text-center">
    <img class="images" src="assets/mymusicbanner.png" alt="Welcome to MyMusic App!">
  </div>
  <div class="container">
    <div class="row" align="center">
      <div class="col-xs-12 col-sm-6 col-md-12 mx-auto">
        <div class="card_login col-md-6" align="center">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-header background-gradient white-text text-center py-4">
                <strong>Sign in</strong>
              </h5>
              <!-- Default form login -->
              <form class="text-center border border-light p-5" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                <!-- Email -->
                <div class="md-form">
                  <input mdbInput mdbValidate type="text" id="defaultLoginFormEmail" class="form-control mb-4 p-2" placeholder="E-mail" formControlName="email" [ngClass]="{'is-invalid': isInvalidField('email')}">
                  <mdb-error *ngIf="showError('email','required')">Email is required</mdb-error>
                  <mdb-error *ngIf="showError('email','minlength')">Email must be longer than {{getMin("email")}} characters.</mdb-error>
                  <mdb-error *ngIf="showError('email','pattern') && !showError('email','minlength')">Please enter valid email</mdb-error>

                </div>
                <!-- Password -->
                <div class="md-form">
                  <input mdbInput mdbValidate type="password" id="defaultLoginFormPassword" class="form-control mb-4 p-2" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid': isInvalidField('password')}">
                  <mdb-error *ngIf="showError('password','required')">Please enter password</mdb-error>
                  <mdb-error *ngIf="showError('password','minlength')">
                    Password must be longer than {{getMin("password")}} characters.</mdb-error>
                </div>
                <!-- Sign in button -->
                <button mdbBtn block="true" [disabled]="loginForm.invalid" class="my-4 background-gradient text-light" type="submit">Sign in</button>
                <!-- Register -->
                <p>Not a member?
                  <a href="/signup" style="color: #0023D5; text-decoration: underline">Register</a>
                </p>
                <!-- Social login -->
                <p>or sign in with:</p>
                <a type="button" style="color: #0023D5" class="mx-2" (click)="showConstructionModal()">
                  <mdb-icon fab icon="facebook"></mdb-icon>
                </a>
                <a type="button" style="color: #0023D5" class="mx-2" (click)="showConstructionModal()">
                  <mdb-icon fab icon="twitter"></mdb-icon>
                </a>
                <a type="button" style="color: #0023D5" class="mx-2" (click)="showConstructionModal()">
                  <mdb-icon fab icon="linkedin"></mdb-icon>
                </a>
                <a type="button" style="color: #0023D5" class="mx-2" (click)="showConstructionModal()">
                  <mdb-icon fab icon="github"></mdb-icon>
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer></app-footer>
